.gallery {
    width: 250px;
    background: #ecdece;
    margin:auto;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
}

.gallery img {
    height: auto;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 250px;
}

#class {
    margin: 0 auto;
    padding: 0;
}

#class ul {
    width: auto 0;
    padding: 0;
}

#class li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 33%;
}

ul:after {
    content: "";
	display: block;
	clear: both;
}

li, #classdesc {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.desc {
    padding: 15px;
    text-align: right;
}

.desc p {
    font-family: 'Sacramento', cursive;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

#classdesc {
    padding-top: 20px;
    text-align: center;
}

#classname {
    font-size: 25px;
}

#register {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
    border-style: none;
    color: #534b46;
    background-color: #ecdece;
    border-radius: 10px;
    padding: 10px;
}

#register:visited {
    border-style: none;
}
#register:focus {
    outline: none;
}

#register:hover {
    outline: none;
    color: white;
}

#registration h1 {
   padding-top: 20px;
}

/* ----------------------------------- 1000px ----------------------------------- */
@media (max-width: 1100px) {
    .gallery, .gallery img {
        width: 200px;
    }
}