@charset "UTF-8";

/*
font-family: 'Sacramento', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Goudy Bookletter 1911', serif;

padding: top right bottom left

#ead9c3 light beige
#c9d8c5 light mint
#a8b6bf light blue
#7d4627 brown
#e4e3e1, #eeeeee grey

https://www.mudfire.com
*/ 

body {
	font-family: 'Goudy Bookletter 1911', serif;
	color: #534b46;
	padding: 0;
	margin: 0;
	min-width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 35px;
	font-family: 'Sacramento', cursive;
}

a {
	text-decoration: none;
	color: #534b46;
}

button {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: #534b46;
    float: right;
}

button:hover {
	color: white;
	cursor: pointer;
}

#heart {
	font-size: 15px;
	color: #663333;
}

#title {
	padding-bottom: 30px;
}

.box1-1-1 {
	float: right;
	position:relative;
  	right: 50px;
}

::-moz-selection {
   background-color: white;
   color: #8c7963;
}
::selection {
    background-color: white;
    color: #8c7963;
}

/* ----------------------------------- sec1 -----------------------------------  */
.sec1, .box1 {
	height: auto;
	padding: 0;
	margin: 0;
	width: 100%;
}

li a:hover {
	color: white;
}

.box1 {
	background: #d4bfaa;
}

.box1:after, .home:after {
	content: "";
	display: block;
	clear: both;
}

.menu, .home {
	margin:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 30px 90px 30px;
	min-height: 100vh;
}

.menu {
	width: 15%;
	float: left;
	background: #d4bfaa;
}

.menu ul {
	padding: 0;
	padding-top: 30px;
	list-style: none;
	text-align: center;
}

.menu li {
	font-size: 20px;
}

.home {
	width: 85%;
	float: left;
	background: white;
	padding-top: 0px;
}

.box1-1 {
	padding: 50px 0 50px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box1-2 {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 100px 0px 100px;
	height: auto;
}

/*Four values - 
border-radius: 15px 50px 30px 5px; 
(first value applies to top-left corner, 
second value applies to top-right corner, 
third value applies to bottom-right corner, 
and fourth value applies to bottom-left corner):*/

.box1-2 img {
	width: 20%;
	height: auto;
	padding: 0;
	margin: 0;
	float: left;
	display: block;
}

.box1-3 {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 0 0 0;
	margin: 0;
}

#topleft {
	border-radius: 10px 0px 0px 0px; 
}
  
#topright {
	border-radius: 0px 10px 0px 0px; 
}

#bottomleft {
	border-radius: 0px 0px 0px 10px; 
}

#bottomright {
	border-radius: 0px 0px 10px 0px; 
}

.popup {
	color: #534b46;
	background-color: #665644;
	opacity: 0.9;
	padding: 0;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	min-width: 500px;
	max-width: 50%;
	float: center;
	position: absolute;
	top: 200px;
	right: 0;
	left: 200px;
	border: 3px dotted #d4bfaa;
	border-radius: 15px;
}

#popup-head + div {
	background: white;
	position: relative;
	text-align: center;
	top: 0;
	color: #534b46;
	padding: 20px;
	padding-bottom: 30px;
	margin: 30px;
	border: 3px dotted #d4bfaa;
	border-radius: 15px;
}

#popup-head {
	text-align: right;
	padding-right: 30px;
}

#popup-head a {
	text-decoration: none;
	color: white;
}

/*.popup h2 {
	color: #534b46;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

*/

/* ----------------------------------- copyright -----------------------------------  */
.copyright {
	width: 100%;
	height: auto;
	background: #beaa97;
	padding: 0;
	margin: 0;
	color: white;
}

#cr {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}
