body {
	background-repeat: no-repeat;
	background-size: 100%;
}
#screen1 {
	background-image: url('/images/screens/1.png');
}

#screen2 {
	background-image: url('/images/screens/2.png');
}

#screen3 {
	background-image: url('/images/screens/3.png');
}

#screen4 {
	background-image: url('/images/screens/4.png');
}

#cash-button {
	position: absolute;
    width: 170.3995px;
    left: 180px;
    top: 285px;
}

#insert-button {
	position: absolute;
    width: 470px;
    left: 272px;
    top: 463px;
}

#cryto-button {
	position: absolute;
    width: 170.3995px;
    left: 510px;
    top: 312px;
}

#video {
	position: absolute;
	width: 700px;
	height: 500px;
	left: 150px;
    top: 152px;
}

#loading {
	position: absolute;
	width: 500px;
	left: 400px;
    top: 280px;
}