body {
	background-repeat: no-repeat;
	background-size: 100%;
}
#screen1 {
	background-image: url('/images/screens/1.png');
}

#screen2 {
	background-image: url('/images/screens/2.png');
}

#screen3 {
	background-image: url('/images/screens/3.png');
}

#screen4 {
	background-image: url('/images/screens/4.png');
}

#cash-button {
	position: relative;
    width: 11.576vw;
    left: 12.228vw;
    top: 19.361vw;
/*    width: 170.3995px;*/
/*    left: 180px;
    top: 285px;*/
}

#insert-button {
	position: relative;
    width: 31.929vw;
    left: 18.478vw;
    top: 31.454vw;
}

#cryto-button {
	position: relative;
    width: 11.576vw;
    left: 34.647vw;
    top: 21.196vw;
}

#video {
	position: relative;
	width: 47.554vw;
	height: 33.967vw;
	left: 10.190vw;
    top: 10.326vw;
}

#loading {
	position: relative;
	width: 33.967vw;
	left: 27.174vw;
    top: 19.022vw;
}