<html lang="en">
<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/membership.css">
</head>

<body class="container">
  <main>
      <section class="sec1">
          <div class="box1">
          <div class="menu">
            <% include ../helpers/menu %>
          </div>
          <div class="home">
            <div class="box1-1">
              <% include ../helpers/home %>
            </div>
            <div id="click"></div>
            <div class ="box1-2" id="click">
              <script src="js/click.js"></script>
              <h1 id="title">become a member and join our clay community !</h1>
              <form method="post" id="signup" action="https://munystudio.herokuapp.com">

                <label for="username" id="username">Create Username</label>
                <input type="text" id="usernameinput"/>
                <div id="warning">
                </div>

                <label for="password" id="password">Create Password</label>
                <input type="password"/><br/>

                <button type="button" id="signupbtt">Sign up</button>
              </form>

              <p id="question">already a member ?</p>
              <button id="signin" type="button" onClick="toggleLogIn()">Sign in</button><br/>
              <button id="google" type="button" onclick="toggleSignIn()"></button>
          </div>
        </div>
        </div>
        </section>
        <% include ../helpers/copyright %>
        <script src="js/membership.js"></script>
      </main>
</body>
</html>
