<html lang="en">

<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/about.css">
</head>

<body class="container">
  <main>
    <section class="sec1">
        <div class="box1">
          <div class="menu">
            <% include ../helpers/menu %>
          </div>
          <div class="home">
            <div class="box1-1">
              <% include ../helpers/home %>
            </div>
            <div class ="box1-2">
              <div class="artist"><img src="images/munhee_clear.png" alt=""></div>
              <p>Munhee Kwon is an artist based in Busan, South Korea</p>
            </div>
          </div>
        </div>
      </section>
      <% include ../helpers/copyright %>
  </main>
</body>

</html>
