<html lang="en">

<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/cart.css">
</head>

<body class="container">
  <main>
    <section class="sec1">
      <div class="box1">
        <div class="menu">
          <% include ../helpers/menu %>
        </div>
        <div class="home">
          <div class="box1-1">
            <% include ../helpers/home %>
          </div>
          <div class="box1-2">
            
            <h1 id="title">shopping cart</h1>
            
            <div class="product" id="product">
              <div id="product1-template">
                <div class="product-image">
                  <img src="images/handbuilding.png">
                </div>
                <div class="product-details">
                  Hand Building Class<br>Start Date: <input type="text" placeholder="mm-dd-yyyy" required>
                </div>
                <div class="product-removal">
                  <button id="remove-product" onclick="removeFromCart(1, 160.00)">Remove</button>
                </div>
                <div class="product-price">160.00</div>
              </div>

              <div id="product2-template">
                <div class="product-image">
                  <img src="images/wheel.png">
                </div>
                <div class="product-details">
                  Pottery on the Wheel Class<br>Start Date: <input type="text" placeholder="mm-dd-yyyy" required>
                </div>
                <div class="product-removal">
                  <button id="remove-product" onclick="removeFromCart(2, 200.00)">Remove</button>
                </div>
                <div class="product-price">200.00</div>
              </div>

              <div id="product3-template">
                <div class="product-image">
                  <img src="images/couple.png">
                </div>
                <div class="product-details">
                  Pottery Date Night<br>Start Date: <input type="text" placeholder="mm-dd-yyyy" required>
                </div>
                <div class="product-removal">
                  <button id="remove-product" onclick="removeFromCart(3, 30.00)">Remove</button>
                </div>
                <div class="product-price">30.00</div>
              </div>
            </div>

            <div class="checkout">
              <div class="total-product-price"></div>
              <!-- <button id="buy-product">Checkout with <i class="fab fa-google-plus"></i> Google Pay</button> -->
            </div>
            <div id='paypal-price'></div>
            <div class="paypal-checkout">
              <div id="paypal-button"></div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <% include ../helpers/copyright %>
  </main>
  <script src="/js/cart.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=AbED08r8HOThro8n-jmKA2Bjbp00B3caSHjGf2jEb4NFi-gwrOJW9VHahpnhUCO6kkTa_97FNdLHMnEu&disable-funding=credit,card""></script>
  <script src="/js/pay.js"></script>
</body>

</html>