<html lang="en">

<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/class.css">
</head>

<body class="container">
  <main>
    <section class="sec1">
      <div class="box1">
        <div class="menu">
          <% include ../helpers/menu %>
        </div>
        <div class="home">
          <div class="box1-1">
            <% include ../helpers/home %>
          </div>
          
          <div class="box1-2" id="class">
            <h1 id="title">classes and workshops</h1>
            <ul>
              <li>
                <div class="gallery">
                  <img class="img" src="images/handbuilding.png" alt="">
                  <div class="desc"><p>hand building</p></div>
                </div>
                
                <div id="classdesc">
                  <p><span id="classname">Hand Building Class</span>
                  <br/>weekly class - 8 consecutive sessions</p>
                  <button id="register" onclick="addToCart(1, 160.00)">Register</button>
                </div>
              </li>
                  
              <li>
                <div class="gallery">
                  <img class="img" src="images/wheel.png" alt="">
                  <div class="desc"><p>wheel-throwing</p></div>
                </div>
                
                <div id="classdesc">
                  <p><span id="classname">Pottery on the Wheel Class</span>
                  <br/>weekly class - 8 consecutive sessions</p>
                  <button id="register" onclick="addToCart(2, 200.00)">Register</button>
                </div>
              </li>
              
              <li>
                <div class="gallery">
                  <img class="img" src="images/couple.png" alt="">
                  <div class="desc"><p>with 
                  <i class="fa fa-heart" id="heart" aria-hidden="true"></i></p></div>
                </div>

                <div id="classdesc">
                  <p><span id="classname">Pottery Date Night</span>
                  <br/>one day workshop with your partner 
                  <i class="fa fa-heart" id="heart" aria-hidden="true"></i></p>
                  <button id="register" onclick="addToCart(3, 30.00)">Register</button>
                </div>
              </li>
            </ul>
          </div> 

        </div> 
      </div> 
    </section>
    <% include ../helpers/copyright %>
    <script src="/js/class.js"></script>
  </main>
</body>

</html>
