<html lang="en">

<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/contact.css">
</head>

<body class="container">
  <main>
    <section class="sec1">
      <div class="box1">
        <div class="menu">
          <% include ../helpers/menu %>
        </div>
        <div class="home">
          <div class="box1-1">
            <% include ../helpers/home %>
          </div>
          <div class ="box1-2">
            <h1>contact us</h1>
            <br/><br/>
            <form id="javascript_form">
              <input type="text" name="subject" placeholder="Subject" />
              <br/>
              <textarea name="text" placeholder="Message" id="email"></textarea>
              <br/>
              <input type="hidden" name="access_token" value="vidskx7ze3limw1z9be1mirr" />
              <input type="hidden" name="success_url" value=".?message=Email+Successfully+Sent%21&isError=0" />
              <input type="hidden" name="error_url" value=".?message=Email+could+not+be+sent.&isError=1" />
              <input type="text" name="reply_to" placeholder="Your Email" />
              <br/>

              <!-- to append extra fields, use the extra_ prefix.
              Entries will be appended to your message body. -->
              <!-- <input type="text" name="extra_phone_number" placeholder="Phone Number" /> -->

              <!-- to split your message into 160 chars for an sms gateway -->
              <!-- <input type="hidden" name="sms_format" value="true" /> -->

              <input type="submit" value="Send" />
              <script src="/js/contact.js"></script>
            </form>
          </div>
        </div>
      </div>
    </section>
    <% include ../helpers/copyright %>
  </main>
</body>

</html>
