<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>nokoin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@8.4.0/dist/dbr.js" data-productKeys="t0068NQAAAEa2vhEKG8ZfiSEzbWTHMdB3k8iXEU65DKVd3BncYIPvJPlni465ybIveVFFFdg3qugMursl41wKsk9q1waDWJQ="></script>
<!--   Dynamsoft.DBR.BarcodeScanner.organizationID = "100731799";
  
  Dynamsoft.DBR.BarcodeReader.productKeys = "t0068NQAAAEa2vhEKG8ZfiSEzbWTHMdB3k8iXEU65DKVd3BncYIPvJPlni465ybIveVFFFdg3qugMursl41wKsk9q1waDWJQ=";
  Make sure to set the key before you call any other APIs under Dynamsoft.DBR -->

</head>

<body>
  <main>
    <section>
      <!-- <div id='paypal-price'>8.15</div>
      <div class="paypal-checkout">
        <div id="paypal-button"></div>
      </div> -->

      <div id='price'>8.15</div>
      <div class="nokoin">
        <button id="button" onclick="takeQRcode()">ethereum</button>
      </div>
      <div class="qrcode">
        <video autoplay="true" id="video"></video>
      </div>

    </section>
  </main>
  <!-- <script src="https://www.paypal.com/sdk/js?client-id=ATGPtXUAq_VQOvDBYkEr1qOcrRVaTpA1QkcfZU7EvRrm3RZmd6JmBl6gIdN4AKMswXnt11VSmRLPmND1"></script> -->
  <script src="/js/pay.js"></script>
</body>

</html>