<html lang="en">

<head>
</head>

<body>
  <main>
    <section>
      <div id='paypal-price'>8.15</div>
      <div class="paypal-checkout">
        <div id="paypal-button"></div>
      </div>
    </section>
  </main>
  <script src="https://www.paypal.com/sdk/js?client-id=EFPGuSBO7LyIWsoIk8GSls_Fbhj9omPIwJqdPzvlpMggA70E2v8dVLN4FME1Y0v8qAy3be8wSwHQmvOH&disable-funding=credit,card"></script>
  <script src="/js/pay.js"></script>
</body>

</html>