<html lang="en">

<head>
</head>

<body>
  <main>
    <section>
      <div id='paypal-price'>8.15</div>
      <div class="paypal-checkout">
        <div id="paypal-button"></div>
      </div>
    </section>
    <% include ../helpers/copyright %>
  </main>
  <script src="https://www.paypal.com/sdk/js?client-id=AbED08r8HOThro8n-jmKA2Bjbp00B3caSHjGf2jEb4NFi-gwrOJW9VHahpnhUCO6kkTa_97FNdLHMnEu&disable-funding=credit,card"></script>
  <script src="/js/pay.js"></script>
</body>

</html>