<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body class="container">
  <main>
    <section class="sec1">
      <div class="box1">
        <div class="menu">
          <% include ../helpers/menu %>
        </div>
        <div class="home">
          <div class="box1-1">
            <% include ../helpers/home %>
          </div>
          <div class ="box1-2">
            <img class="img" id="topleft" src="images/1.jpeg" alt="">
            <img class="color" src="images/b2ab99.png" alt="">
            <img class="img" src="images/9.jpeg" alt="">
            <img class="img" src="images/4.jpeg" alt="">
            <img class="color" id ="topright"src="images/c4bdb7.png" alt="">
            <img class="img" src="images/6.jpeg" alt="">
            <img class="img" src="images/7.jpg" alt="">
            <img class="color" src="images/958b81.png" alt="">
            <img class="img" src="images/3.jpeg" alt="">
            <img class="img" src="images/10.jpeg" alt="">
            <img class="color" id="bottomleft" src="images/c6bfaf.png" alt="">
            <img class="img" src="images/5.jpeg" alt="">
            <img class="color" src="images/a89074.png" alt="">
            <img class="color" src="images/b4b4ac.png" alt="">
            <img class="img" id="bottomright" src="images/8.jpeg" alt="">
          </div>
        </div>
      </div>
    </section>
    <% include ../helpers/copyright %>
  </main>
</body>

</html>
