<html lang="en">

<head>
</head>

<body>
  <main>
    <section>
      <div id='paypal-price'>8.15</div>
      <div class="paypal-checkout">
        <div id="paypal-button"></div>
      </div>
    </section>
  </main>
  <script src="https://www.paypal.com/sdk/js?client-id=ATTJ4svhaXshK7Sq6kAa9QMAkFjJmyBXyKiG2FY6fzIDVhCGOh4KI_m3everLX_mexgvuxfTlyicmZqL"></script>
  <script src="/js/pay.js"></script>
</body>

</html>