<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>nokoin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body id="screen3">
  <main>
    <section>
      <div id="container">
        <!-- <button id="button">button</button> -->
        <img class="cryto-button" id="button" src="images/buttons/cryto.png"></img>
      </div>

      <!-- <div> -->
        <!-- <video autoplay="true" id="video"></video> -->
      <!-- </div> -->
    </section>
  </main>

  <!-- <script src="https://www.paypal.com/sdk/js?client-id=ATGPtXUAq_VQOvDBYkEr1qOcrRVaTpA1QkcfZU7EvRrm3RZmd6JmBl6gIdN4AKMswXnt11VSmRLPmND1"></script> -->
  <!-- <script src="/js/screen.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@8.4.0/dist/dbr.js"></script>
  <script src="/js/pay.js"></script>
</body>

</html>