<div class="box1-1">
	<h1>&bull; muny pottery studio &bull;</h1>
	<div class="box1-1-1">
		<a href="/cart"><button id="cart" type="button"></button></a>
		<button id="google" type="button" onclick="toggleSignIn()"></button>
	</div>
</div>